.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

#shop-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

#item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#item li {
  text-align: left;
}

li {
  list-style: none;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}